<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HRIS_Employee</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ImageRenderer</display-name>
    <servlet-name>ImageRenderer</servlet-name>
    <servlet-class>com.hris.employee.servlet.ImageRenderer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRenderer</servlet-name>
    <url-pattern>/ImageRenderer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocRenderer</display-name>
    <servlet-name>DocRenderer</servlet-name>
    <servlet-class>com.hris.employee.servlet.DocRenderer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocRenderer</servlet-name>
    <url-pattern>/DocRenderer</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.hris.employee.listener.EmployeeSessionListener</listener-class>
  </listener>
  <filter>
    <display-name>EmployeeFilter</display-name>
    <filter-name>EmployeeFilter</filter-name>
    <filter-class>com.hris.employee.filter.EmployeeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmployeeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDocument</display-name>
    <servlet-name>DownloadDocument</servlet-name>
    <servlet-class>com.hris.employee.servlet.DownloadDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDocument</servlet-name>
    <url-pattern>/DownloadDocument</url-pattern>
  </servlet-mapping>
</web-app>